{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Password Changed</title>
    <script>
        (function () {
            const theme = localStorage.getItem("theme") || "light";

            document.documentElement.setAttribute(
                "data-theme",
                theme
            );
        })();
    </script>
    <link rel="stylesheet" href="{% static 'assistant/style.css' %}">
</head>

<body>

<div class="auth-page">

    <div class="auth-card">

        <h1>Password updated</h1>

        <p>
            Your password has been changed successfully.
        </p>

        <a href="{% url 'login' %}">
            Login
        </a>

    </div>

</div>

</body>
</html>