{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Choose New Password</title>
    <script>
        (function () {
            const theme = localStorage.getItem("theme") || "light";

            document.documentElement.setAttribute(
                "data-theme",
                theme
            );
        })();
    </script>
    <link rel="stylesheet" href="{% static 'assistant/style.css' %}">
</head>

<body>

<div class="auth-page">

    <div class="auth-card">

        <h1>Choose new password</h1>

        {% if validlink %}

            <form method="POST">

                {% csrf_token %}

                {{ form.new_password1 }}

                {{ form.new_password2 }}

                <button type="submit">
                    Update Password
                </button>

            </form>

        {% else %}

            <p>
                This password reset link is invalid
                or has already been used.
            </p>

        {% endif %}

    </div>

</div>

</body>
</html>